body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #343a40;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #343a40;
    background-color: #ffc107;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition */
    display: inline-block;
}

nav ul li a:hover {
    background-color: #ffca28;
    transform: scale(1.05); /* Added hover effect */
}

section {
    padding: 40px 20px;
    text-align: center;
}

section h2 {
    margin-top: 0;
    font-size: 24px;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@media screen and (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 18px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    nav ul li:last-child {
        margin-bottom: 0;
    }
}
